    body {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
    
    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .container {
        width: 70%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    
    .quote {
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 170%;
        /* or 82px */
        color: #302e2e;
    }
    
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #d023e7;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    
    .button:hover {
        background-color: #cf49e0;
    }
    
    .button:active {
        background-color: #e6a0f0;
    }
    /* responsive------------------------------------ */
    
    @media (max-width: 600px) {
        .quote {
            font-size: 18px;
        }
    }